.container-sm {
    max-height: 90px;

}
  .logo {
    max-width: 150px;
    max-height: 150px;
  }

.form{
    padding: 30px 40px;

}
h2{
    text-align:center ;
    margin: 0,0,0,20px;

}
.form-control{
    position: relative;
    margin-bottom: 10px;
    padding: 20px0;

} 
.form-control label{
    color: #972c2c;
    display: block;
    margin-bottom: px;

}
.form-control input{
    height: 40px;
    width: 100%;
    border: none;
     border-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 0 0 0 10px;
    background: rgba(140, 61, 0, 0.16);
    outline: none;
}
.form-control input :focus{
    outline: 0;
    border-color: #13a84a;
}
.form-control.error input{
    border-color: red;

}
.form-control.success input{
    border-color:lightseagreen;
    
}
.form-control small{
    color:red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form button{
    cursor: pointer;
    background-color:#3498db;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    margin-top:20px ;
    width: 100%;
    display: block;
    font-size: 16px;
    padding: 10px;
}
/* box product */
.box {
  border: 1px solid #ccc;
  margin-top: 20px;
}

.box:hover {
  border: 1px solid #00b3ff;
}

.img {
  text-align: center;
}

.img img {
  height: 120px;
  max-width: 150px;
  padding-top: 10px;
}.p_detail .col-md-4 img{
  
  transition: transform .2s;
}
.p_detail .col-md-4 img:hover{
  transform: scale(1.5);
}

.product_name {
  height: 3rem;
  padding-top: 10px;
  text-align: center;
  font-weight: bolder;
}

.description {
  height: 3rem;
  padding-top: 10px;
  text-align: center;
  font-weight: center;
}

.price {
  text-align: center;
  color: #FF1212;
  padding-top: 10px;
}

.button {
  padding: 10px;
}

.button a {
  width: 100%;
  border-radius: 20px;
}
      /*=============== FOOTER ===============*/

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}

footer a {
  color: rgb(104, 38, 2);
  text-decoration: none;
}

footer li:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  footer {
    width: 50%;
  }
}
